[submodule "AlexaIONSkill"]
	path = AlexaIONSkill
	url = https://github.com/simplymarcello/AlexaIONSkill.git
[submodule "apps/AlexaIONSkill"]
	path = apps/AlexaIONSkill
	url = https://github.com/simplymarcello/AlexaIONSkill.git
